.fontt{
    font-family: 'Inter', sans-serif;
font-family: 'Rubik', sans-serif;
}
.font{
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
}
/* .last{
    margin: -38px 750px;
} */

